.container {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5rem 7.5rem;
	transition: all 0.2s ease-in-out;
	z-index: 999;
}

.container h1 {
	flex: 1 1 100%;
	text-align: left;
	font-size: 3rem;
	margin-bottom: 3rem;
	margin-top: 3rem;
	color: var(--theme-color);
}

@media (max-width: 768px) {
	.container {
		padding: 2rem 0.5rem;
	}
	.container h1 {
		font-size: 2.5rem;
		text-align: center;
	}
}
