.title {
	font-size: 3rem;
	font-weight: 700;
	width: 80%;
	color: var(--theme-color);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Desktop-only effects*/
@media screen and (min-width: 1050px) {
	.title:hover {
		animation: glow 2s infinite;
	}
}

/* Mobile */
@media screen and (max-width: 1050px) {
	.title {
		width: 100%;
		animation: glow 2s infinite;
	}
}

/* Animations */
@keyframes glow {
	0% {
		filter: drop-shadow(0 0 5px rgba(255, 203, 0, 0.1));
	}

	50% {
		filter: drop-shadow(0 0 10px rgba(255, 204, 0, 0.5));
	}

	100% {
		filter: drop-shadow(0 0 5px rgba(255, 204, 0, 0.1));
	}
}
