.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: var(--primary-gray);
    position: relative;
    z-index: 1;
    margin-bottom: 500px;
}

.red {
    width: 100%;
    height: 100%;
    border: white 1px solid;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 0 2.5rem;
    gap: 5rem;
    user-select: none;
    transition: all 0.2s ease-in-out;
    background-color: var(--primary-gray);
}

.hero_dynamic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    text-align: center;
    min-height: 80vh;
    z-index: 2;
    padding: 0 2.5rem;
    gap: 5rem;
    user-select: none;
    transition: all 0.2s ease-in-out;
    background-color: var(--primary-gray);
}

.hero .image {
    opacity: 0;
    width: 100%;
    height: auto;
    max-height: 50vh;
    transition: all 0.1s ease-out;
    animation: fadein 0.5s forwards 0.5s;
    z-index: 3;
}

@keyframes fadein {
    0% {
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    object-fit: cover;
    overflow: hidden;
    filter: blur(1px) grayscale(0.9) brightness(0.5) hue-rotate(180deg) sepia(0.2);
}

@keyframes border-in {
    0% {
        border: black solid 10rem;
    }
    100% {
        border: black solid 0;
    }
}

/* Desktop-only*/


.backgroundOverlayFlipped {
    position: absolute;
    left: 0;
    z-index: 0;
    scale: 1.8;
    transform-origin: left;
    overflow: hidden;
}

.backgroundOverlayDecoration {
    position: absolute;
    bottom: -1vh;
    z-index: -1;
    transform-origin: center bottom;
    overflow: hidden;
}

.backgroundOverlayDecoration img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px rgba(255, 204, 0, 0.1));
    }

    50% {
        filter: drop-shadow(0 0 10px rgba(255, 204, 0, 0.3));
    }

    100% {
        filter: drop-shadow(0 0 5px rgba(255, 204, 0, 0.1));
    }
}

/*Keynotes*/
.keynotes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 5rem;
    transition: all 0.2s ease-in-out;
    z-index: 999;
}

.keynotes h1 {
    flex: 1 1 100%;
    text-align: left;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.keynote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    max-width: 700px;
    aspect-ratio: 2/1;
    flex: 50%;
}

.keynote .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    gap: 1rem;
}

.keynote .details h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.keynote .details p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

.keynote .details .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40%;
    padding-top: 2rem;
    gap: 1rem;
}

.hexagon {
    display: block;
    position: relative;
    height: 200px; /* width * 0.866 */
    width: auto;
    aspect-ratio: 1/1.154;
    box-sizing: border-box;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: all 0.2s ease-in-out;
}

.keynote:hover .hexagon {
    scale: 1.05;
}

.keynote img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    filter: grayscale(1);
    transition: all 0.2s ease-in-out;
}

.keynote:hover img {
    filter: grayscale(0);
}


/* Mobile */
@media screen and (max-width: 1050px) {
    .hero {
        padding-top: 5rem;
        flex-direction: column;
        gap: 2rem;
    }

    .keynotes {
        justify-content: flex-start;
    }

    .keynotes {
        padding: 2rem 2rem;
    }
}


/* Desktop-only effects */
@media screen and (min-width: 1050px) {
    .hero .background {
        animation: border-in 1s ease-out;
    }
}