.heroDynamic {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: fit-content;
	text-align: left;
	z-index: 2;
	padding: 0 2.5rem;
	gap: 5rem;
	user-select: none;
	transition: all 0.2s ease-in-out;
}

.sponsorsBar {
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: fit-content;
	display: flex;
	overflow-x: hidden;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}

.sponsorsBar img {
	height: 100px;
	width: auto;
	margin: 0 1rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

/*When hovering an image, set all other image's opacity to 0.8*/
.sponsorsBar:hover img:not(:hover) {
	opacity: 0.8;
}

@media (max-width: 768px) {
	.sponsorsBar img {
		height: 80px;
	}
}
