.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    gap: 0.4rem;
    flex-grow: 0;
    flex-wrap: wrap;
}

.socialIcon[data-icon-theme="white"] {
    --icon-color: white;
    --icon-color-hover: var(--theme-color);
}

.socialIcon[data-icon-theme="yellow"] {
    --icon-color: var(--theme-color);
    --icon-color-hover: white;
}

.socialIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    width: 40px;
    height: 40px;
    color: var(--icon-color);
}

.socialIcon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Desktop-only effects */
@media screen and (min-width: 1050px) {
    .socialIcon:hover {
        color: var(--icon-color-hover);
        animation: glow 2.5s ease-in-out infinite;
    }
}

/* Mobile */
@media screen and (max-width: 1050px) {
    .socialIcon {
        width: 30px;
        height: 30px;
        margin-bottom: 0.5rem;
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px rgba(255, 204, 0, 0.1));
    }

    50% {
        filter: drop-shadow(0 0 150px rgba(255, 204, 0, 1));
    }

    100% {
        filter: drop-shadow(0 0 5px rgba(255, 204, 0, 0.1));
    }
}
